body {
    font-family: 'Avenir', 'Arial', sans-serif;
    margin: 0;
}

.container-all {
    display: grid;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    grid-template-columns: 15rem 1fr;
}

.container-sidebar {
    color: white;
    background-color: rgb(14, 111, 222);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 5rem 20rem 9rem;
    z-index: 2;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo-link {
    text-align: center;
}

.logo {
    max-width: 80%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    font-weight: bold;
    transition: 300ms;
}

.sidebar-link:hover {
    transform: translateX(.5rem);
}

.logo, .sidebar-link {
    cursor: pointer;
}

.sidebar-link img {
    margin-right: 1rem;
}

.container-sidebar ul {
    padding: 0;
    margin-left: 1.5rem;
}

.sidebar-link img {
    filter: invert(99%) sepia(28%) saturate(2%) hue-rotate(283deg) brightness(118%) contrast(100%);
}

.profile-image-small {
    max-height: 50px;
}

.profile-image-header {
    max-height: 35px;
}

.profile-image-large {
    max-height: 70px;
}

.container-header {
    padding-left: 2rem;
    padding-bottom: 1.3rem;
    grid-area: header;
    display: grid;
    grid-template-columns: minmax(40%, 60%) 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.33);
    z-index: 1;
}

.container-main {
    grid-area: main;
}

.container-search {
    display: flex;
    align-items: center;
    grid-column: 1/2;
}

.search {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.search-bar {
    margin-bottom: 0;
    width: 100%;
}

.search-icon {
    padding-right: .7rem;
}

.search-bar input {
    border: none;
    background-color: rgb(224, 226, 227);
    height: 2rem;
    border-radius: 25px;
    padding-left: 1rem;
    width: 95%;
}

.container-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: max(3rem);
    gap: 1rem;
}

.container-profile .profile-image-header {
    transition: 300ms;
}

.container-profile .profile-image-header:hover {
    transform: scale(1.2);
}

.container-interaction-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: max(3rem);
    gap: 1rem;
}

.interaction-btn {
    border: none;
    background-color: rgb(14, 111, 222);
    color: white;
    width: 5.7rem;
    height: 2.3rem;
    border-radius: 25px;
    transition: 200ms;
}

.interaction-btn:hover {
    background-color: rgb(12, 77, 152);
}

.profile-greeting {
    display: flex;
    align-items: center;
}

.profile-image-large {
    margin-right: 1rem;
}

.greeting-top, .greeting-bottom {
    display: block;
}

.greeting-bottom {
    font-weight: bold;
    font-size: 1.3rem;
}

.profile-name {
    font-weight: bold;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 1fr .8fr;
    grid-template-areas:
    "projects projects announcements"
    ". . trending";
    gap: 20px;
    background-color: rgb(216, 229, 241);
}

.container-projects {
    padding-left: 2rem;
    grid-area: projects;
    display: grid;
    grid-template-areas: 
    "projects-title projects-title"
    "cards cards";
    grid-auto-rows: minmax(min-content, max-content);
    gap: 20px;
}

.section-title-projects, .section-title-announcements, 
.section-title-trending, .trend-title {
    font-weight: 400;
}

.section-title-projects {
    grid-area: projects-title;
}

.project-card {
    background-color: #fff;
    width: 85%;
    padding: 1rem;
    border-left: solid .4rem rgb(255, 204, 0);
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
}

.project-description > h3, h2 {
    margin-bottom: 0;
}

.project-description > p {
    margin-top: 0;
}

.project-tools {
    margin-top: auto;
    align-self: flex-end;
}

.project-tools svg {
    transition: 300ms;
}

.project-tools svg:hover {
    transform: scale(1.2)
}

.container-right-sidebar {
    grid-area: announcements;
    display: grid;
    grid-template-areas: 
    "announcements-title"
    "announcements-blurbs"
    "container-trending";
    gap: 20px;
    width: 90%;
    grid-auto-rows: minmax(min-content, max-content);
}

.container-announcements {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
}

.announcement {
    padding: .5rem 2rem;
}

.section-title-announcements {
    grid-area: announcements-title;
}

.announcement > h3 {
    font-size: 1rem;
}

.announcement > h3, .announcement > p, .trend-title {
    margin: 0;
}

.announcement:first-child {
    padding-top: 1.5rem;
}

.announcement:last-child {
    padding-bottom: 1.5rem;
}

.announcement:not(:last-child):after {
    padding-top: 1rem;
    content: " ";
    display: block;
    border-bottom: 0.3px solid grey;
}

.container-trending {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
}

.trending-project {
    display: flex;
    align-items: center;
    padding: .7rem 2rem;
}

.trending-project:first-child {
    padding-top: 1.5rem;
}

.trending-project:last-child {
    padding-bottom: 1.5rem;
}

.trending-project > .profile-image-small {
    padding-right: 1rem;
}